<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .board-back {
            margin-left: 325px;
            margin-top: 30px;
        }

        .board-title {
            padding-top: 10px;
        }

        .board-body {
            margin-top: 25px;
            border-top: 2px solid gray;
            border-bottom: 2px solid gray;
        }

        .modal-header {
            border-bottom: 0 none;
        }

        .modal-footer {
            border-top: 0 none;
        }

        .modal{
            top: 350px;
        }
    </style>
</head>

<body>

    <div class="board-back">
        <button class="btn"><i class="fa fa-angle-left" style="font-size:30px;"></i></button>
    </div>

    <div class="container">

        <div class="board-title">

            <div>공지사항</div>

            <div>
                <p>
                <h3>제목</h3>
                </p>
            </div>

            <div>
                <span>휴레이운영자</span>
                <span>20.01.03 18:06</span>
                <span class="float-right"><button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#deleteModal">삭제</button></span>
            </div>

            <!-- 삭제 모달 Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <div class="modal-body">
                            게시글을 삭제 하시겠습니까?
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary">확인</button>
                        </div>

                    </div> <!-- /.modal-content -->
                </div> <!-- /.modal-dialog -->
            </div> <!-- /.modal-content -->

        </div>

        <div class="board-body">
            <p>
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
                ㅁ나ㅟㅜ난ㅁ이ㅜㅁㄴ아ㅣㅏㅁㄴ이ㅏ뉨이ㅏㅇㅁ나ㅣㅁㅇ나ㅣㅟㅏㅇㅁ나ㅟㅁㅇ나ㅟㅁ나ㅟ누뭄ㄴ이ㅜㅏㅁㄴ암ㄴ아ㅟㅇㅁ눔ㄴ움ㄴ임니이ㅏㅜㅏㅟㅇㅁ나ㅟㅁㅇ나ㅟㅁㄴ이ㅏㅏㅁ니이ㅏㅜㅁㅇ나ㅟㅁㅇ나ㅜ
            </p>
        </div>

    </div>
</body>

</html>